.signUp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Speedee, sans-serif;
    
}

.signUp-form-container{
    box-shadow: 0 5px 8px 3px lightgray;
    height: 500px;
    background-color: white;
    width: 400px;
    border-radius: 20px;
}

.signup-form{
  padding: 20px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.signup-form label{
    width: 100%;
    height: 30px;
    font-size: 17px;
    font-weight: 500;
   margin-top: 20px;  
}

.sigup-input{
    margin-top: 1px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
}

.signup-form button{
    margin-top: 30px;
    height: 50px;
    border-radius:30px ;
    background-color: #fbf6f0;
    font-size: 15px;
    font-weight: 500;

}
.signup-form button:hover{
    box-shadow: 0 5px 8px 3px lightgray;
}

.error-div{
    font-size: 10px;
    margin-top: 10px;
    width: 100%;
    color: red;
}

@media screen and (max-width:600px) {
    /* .signUp-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background-color: #fbf6f0;
        font-family: Speedee, sans-serif;
    } */
    
    .signUp-form-container{
        box-shadow: 0 5px 8px 3px lightgray;
        height: 400px;
        background-color: white;
        width: 300px;
        border-radius: 20px;
    }
    
    .signup-form{
      padding: 20px;
      background-color: inherit;
      display: flex;
      flex-direction: column;
    }
    
    .signup-form label{
        width: 100%;
        height: 30px;
        font-size: 17px;
        font-weight: 500;
       margin-top: 20px;  
    }
    
    .sigup-input{
        margin-top: 1px;
        height: 30px;
        font-size: 15px;
        border-radius: 10px;
        width:80% ;
    }
    
 
   
    
    .error-div{
        font-size: 10px;
        margin-top: 10px;
        width: 100%;
        color: red;
    }   
}