.SM{
    width: inherit;
    height: 40px;
    font-family: Speedee, sans-serif;
    border: 2px solid #b69a81;
    color: #b69a81;
    font-weight: 500;
    margin:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.SM:hover{
    border: 2px solid #b69a81;
    color: #b69a81;
    background-color: white;
}