.dropDown {
  position: relative;
}

.Dropdown-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  max-width: 150px;
  height: 300px;
  overflow-y: scroll;
  background-color: lightgray;
}



.Dropdown-item {
  margin-top: 10px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.Dropdown-item:hover{
    background-color: #e6e6e6;
}


.Dropdown-button {
  background-color: white;
  box-shadow: 0 5px 8px 2px lightgray;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
